<div id="round-container">
  <form>
  <div>
    <p>Resistance: 865M +/- 0.1%</p><br>
  </div>
  <div>
    <span class="resistor color-default"></span>
    <span class="resistor color-black"></span>
    <span class="resistor color-default"></span>
    <span class="resistor color-blue"></span>
    <span class="resistor color-default"></span>
    <span class="resistor color-green"></span>
    <span class="resistor color-default"></span>
    <span class="resistor color-grey"></span>
    <span class="resistor color-default"></span>
    <span class="resistor color-gold"></span>
    <span class="resistor color-default"></span>
  </div><br>
  <div>
    <p>Select bands</p><br>
    <span class="inline padding-dropdown">
      <p class="header-digits">1st Digit</p>
      <select formControlName="digit1" id="#" (change)="changeDigit1($event)">
        <option *ngFor="let item of colorBandDigit1" [value]="item['id']">{{item['name']}}</option>
      </select>
    </span>
    <span class="inline padding-dropdown">
      <p class="header-digits">2nd Digit</p>
      <select name="digit2" id="#">
        <option *ngFor="let item of colorBands" [value]="item['id']">{{item['name']}}</option>
      </select>
    </span>
    <span class="inline padding-dropdown">
      <p class="header-digits">3rd Digit</p>
      <select name="digit3" id="#">
        <option *ngFor="let item of colorBands" [value]="item['id']">{{item['name']}}</option>
      </select>
    </span>
    <span class="inline padding-dropdown">
      <p class="header-digits">Multiplier</p>
      <select name="multiplier" id="#">
        <option *ngFor="let item of colorMultiplier" [value]="item['multiplier']">{{item['name']}}</option>
      </select>
    </span>
    <span class="inline padding-dropdown">
      <p class="header-digits">Tolerance</p>
      <select name="tolerance" id="#">
        <option *ngFor="let item of colorTolerance" [value]="item['tolerance']">{{item['name']}}</option>
      </select>
    </span>
  </div>
  </form>
</div>
